
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <p>Checking if messages block is executed...</p>
    {% if messages %}
        <p>Messages found...</p>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        <p>No messages to display.</p>
    {% endif %}
</div>

</body>
</html> -->


<!-- 

{% if messages %}
{% for message in messages %}

<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
    {{ message }}
</div>

{% endfor %}
{% endif %} -->


